{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block page_title %}
    Profile
{% endblock %}

{% block page_content %}

    <form action="/form/profile/model" method="post" class="pure-form">
        {% csrf_token %}
        <fieldset>
            <legend>Post Form Model I</legend>
            {{ postform_model }}
            <input type="submit">
        </fieldset>
    </form>
    <hr>
    <form action="/form/profile/model" method="post" class="pure-form">
        {% csrf_token %}
        <fieldset>
            <legend>Post Form Model II</legend>
            姓名：{{ postform_model.username }}<p/>
            密碼：{{ postform_model.password }}<p/>
            年齡：{{ postform_model.age }}<p/>
            性別：{{ postform_model.sex }}<p/>
            Email：{{ postform_model.email }}<p/>
            Order：{{ postform_model.order }}<p/>
            <input type="submit">
        </fieldset>
    </form>
{% endblock %}

